*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
}
.container{
    display: flex;
    height: inherit;
    flex-wrap: wrap;
}

.child-container{
    height: calc(100% /100);  /* each box should take up 1/100th of the full height */
    width: calc(100% /100);   /* each box should take up 1/100th of the full width */
    background-color: white;
    border-radius: 500px;
    /* border: .5px solid black; */
}